// global style

//transition from view to view

@keyframes slideLeft {
    from {
      visibility: hidden;
      left: 100%;
      position:absolute;
      opacity: 0;
    }
    to {
      visibility: visible;
      left: 0%;
      position:relative;
      opacity: 1;
    }
}

.slideLeft{
  animation-name: slideLeft;
  animation-duration: 1s;
  position: relative;
  margin-top: 30%;
}

.content{
  font-family: 'Muli', sans-serif;
}

//generic elements
p{
  margin-left: 2%;
  margin-right: 2%;
}

a{
  cursor: pointer;
}

h2{
  color: grey;
  font-family: 'Armata', sans-serif;
  font-size: 1em;
}

h3{
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 2px;
}

.padding5{
  padding: 5px;
}

.padding10{
  padding: 10px;
}

.padding15{
  padding: 15px;
}

.margin5{
  margin-top: 5px;
  margin-bottom: 5px;
}
